# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Build artifacts
dist/

# Test binary
*.test

# Output of the go coverage tool
*.out
coverage.out

# Dependency directories
vendor/

# Go workspace file
go.work
